<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>Rozkad miejsc</title>

</head>
<body>
<div th:text="${choosingPlace}"/>
<div>ekran</div>
<div>
    <img src="miejsca w kinie"/>
</div>
<form action="" method="post">
    <label for="rzad">Numer rzędu</label>
    <select id="rzad">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
    </select>
    <label for="miejsce">Numer miejsca</label>
    <select id="miejsce">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
    </select>
</form>
<div>
    <a th:href="@{/reservation/podsumowanieZWyboremMiejsca}">Przejdź do podsumowania</a>
</div>
</body>
</html>