<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
	<title>Movie screen</title>
	
</head>
<body>
   <div>
	   <div>
			<a href="index.html">Kino X</a>
		</div>
		<ul>
			<li>
				<a href=#>Aktualności</a>
			</li>
			<li>
				<a href=#>Repertuar</a>
			</li>
			<li>
				<a href=#>Cennik</a>
			</li>
			<li>
				<a href=#>Promocje</a>
			</li>
		</ul>
		<div>
			<a href=#>Koszyk</a>
		</div>
	</div>
	<div>*strzałka*Film: *Nazwa filmu*</div>
	<div>
		*strzałka*Wybierz dzień
			<form action="" method="post">
				<div><label><input type="radio" name="dzien">Poniedziałek</label></div>
				<div><label><input type="radio" name="dzien">Wtorek</label></div>
				<div><label><input type="radio" name="dzien">Środa</label></div>
				<div><label><input type="radio" name="dzien">Czwartek</label></div>
				<div><label><input type="radio" name="dzien">Piątek</label></div>
				<div><label><input type="radio" name="dzien">Sobota</label></div>
				<div><label><input type="radio" name="dzien">Niedziela</label></div>
			</form>
	</div>
	<div>
		*strzałka*Wybierz seans
			<form action="" method="post">
				<div><label><input type="radio" name="seans">2D</label></div>
				<div><label><input type="radio" name="seans">3D</label></div>
			</form>
	</div>
	<div>
		*strzałka*Wybierz godzinę
			<form action="" method="post">
				<div><label><input type="radio" name="godzina">11:15 (SALA1)</label></div>
				<div><label><input type="radio" name="godzina">13:30 (SALA5)</label></div>
				<div><label><input type="radio" name="godzina">15:15 (SALA8)</label></div>
				<div><label><input type="radio" name="godzina">17:45 (SALA2)</label></div>
				<div><label><input type="radio" name="godzina">19:20 (SALA3)</label></div>
				<div><label><input type="radio" name="godzina">21:15 (SALA7)</label></div>
			</form>
	</div>
	<div>*strzałka*Czy chcesz zarezerwować miejsce?</div>
	<div>
		<div>Nie, miejsce wybiorę przy odbiorze</div>
		<div>Przejdź do podsmowania</div>
	</div>
	<div>
		<div>Tak, przejdź do wyboru miejsca</div>
		<div>Przejdź do wyboru miejsca</div>
	</div>
</body>
</html>