<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
    <title>Cinema repertoire</title>
	
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato&display=swap" rel="stylesheet">
	
</head>
<body>
   <div id="header">
	   <a href="index.html" class="linkwhite">
			<div id="kinoxtile">
				<h3>Kino X</h3>
			</div>
		</a>
		<ul id="menulist">
			<li>
				<a href="index.html" class="menulink">Aktualności</a>
			</li>
			<li>
				<a href="chooseCity.html" class="menulink">Repertuar</a>
			</li>
			<li>
				<a href="priceList.html" class="menulink">Cennik</a>
			</li>
			<li>
				<a href="sale.html" class="menulink">Promocje</a>
			</li>
		</ul>
		<a href="emptyBucket.html">
			<div id="baskettile">
				<h3>Koszyk</h3>
			</div>
		</a>
		<div style="clear: both;"></div>
	</div>
	<div id="miastotile">
		<div id="wybranemiasto">*Wybrane miasto*</div>
	</div>
	<div id="pasek"></div>
	<div id="wybierzfilm">
		<h2>Wybierz film</h2>
	</div>
	<div id="moviecontainer">
		<a href="movieScreen.html">
			<div id="movie">
				<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>
			</div>
		</a>
		<a href="movieScreen.html">
			<div id="movie">
				<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>
			</div>
		</a>
		<a href="movieScreen.html">
			<div id="movie">
				<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>
			</div>
		</a>
		<a href="movieScreen.html">
			<div id="movie">
				<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>
			</div>
		</a>
		<a href="movieScreen.html">
			<div id="movie">
				<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>
			</div>
		</a>
		<a href="movieScreen.html">
			<div id="movie">
				<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>
			</div>
		</a>
		<a href="movieScreen.html">
			<div id="movie">
				<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>
			</div>
		</a>
		<a href="movieScreen.html">
			<div id="movie">
				<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>
			</div>
		</a>
		<a href="movieScreen.html">
			<div id="movie">
				<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>
			</div>
		</a>
		<a href="movieScreen.html">
			<div id="movie">
				<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>
			</div>
		</a>
		<a href="movieScreen.html">
			<div id="movie">
				<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>
			</div>
		</a>
		<a href="movieScreen.html">
			<div id="movie">
				<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>
			</div>
		</a>
		<a href="movieScreen.html">
			<div id="movie">
				<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>
			</div>
		</a>
		<a href="movieScreen.html">
			<div id="movie">
				<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>
			</div>
		</a>
		<a href="movieScreen.html">
			<div id="movie">
				<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>
			</div>
		</a>
		<a href="movieScreen.html">
			<div id="movie">
				<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>
			</div>
		</a>
		<a href="movieScreen.html">
			<div id="movie">
				<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>
			</div>
		</a>
		<a href="movieScreen.html">
			<div id="movie">
				<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>
			</div>
		</a>
		<a href="movieScreen.html">
			<div id="movie">
				<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>
			</div>
		</a>
		<a href="movieScreen.html">
			<div id="movie">
				<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>
			</div>
		</a>
		<a href="movieScreen.html">
			<div id="movie">
				<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>
			</div>
		</a>
		<a href="movieScreen.html">
			<div id="movie">
				<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>
			</div>
		</a>
		<a href="movieScreen.html">
			<div id="movie">
				<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>
			</div>
		</a>
		<a href="movieScreen.html">
			<div id="movie">
				<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>
			</div>
		</a>
		<div style="clear: both;"></div>
	</div>
</body>
</html>