<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
    <title>Cinema repertoire</title>
	
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato&display=swap" rel="stylesheet">

</head>
<body>
<div th:text="${allMovies}"/>
   <div id="header">
       <a th:href="@{/index}" class="linkwhite">
	        <div id="kinoxtile">
			    <h3>Kino X</h3>
		    </div>
       </a>
		<ul id="menulist">
			<li>
				<a th:href="@{/index}" class="menulink">Aktualności</a>
            </li>
			<li>
				<a th:href="@{/chooseCity}" class="menulink">Repertuar</a>
			</li>
			<li>
				<a th:href="@{/priceList}" class="menulink">Cennik</a>
			</li>
			<li>
				<a th:href="@{/happyHours}" class="menulink">Promocje</a>
			</li>
		</ul>
       <a th:href="@{/bucket}">
		<div id="baskettile">
            <h3>Koszyk</h3>
		</div>
       </a>
       <div style="clear: both;"></div>
	</div>
	<div id="miastotile">
		<div id="wybranemiasto">*Wybrane miasto*</div>
	</div>
	<div class="pasek"></div>
	<div id="wybierzfilm">
		<h2>Wybierz film</h2>
	</div>
	<div id="moviecontainer">
        <div th:each="movie : ${movies}">
            <a th:href="'/movies/' + ${movie.getId()}">

                <div style="background-color:#FF00FF">
                    <p th:text="${movie.getReleaseDate()}"/>
                    <p th:text="${movie.getTitle()}"/>



                </div>
                <!--<p style="text-align:center;" th:text="'-' + ${movie.getTitle() + '-'}"></p>-->
            </a>
        </div>


		<!--<a href="movieScreen.html">-->
			<!--<div id="movie">-->
				<!--<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>-->
			<!--</div>-->
		<!--</a>-->
		<!--<a href="movieScreen.html">-->
			<!--<div id="movie">-->
				<!--<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>-->
			<!--</div>-->
		<!--</a>-->
		<!--<a href="movieScreen.html">-->
			<!--<div id="movie">-->
				<!--<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>-->
			<!--</div>-->
		<!--</a>-->
		<!--<a href="movieScreen.html">-->
			<!--<div id="movie">-->
				<!--<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>-->
			<!--</div>-->
		<!--</a>-->
		<!--<a href="movieScreen.html">-->
			<!--<div id="movie">-->
				<!--<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>-->
			<!--</div>-->
		<!--</a>-->
		<!--<a href="movieScreen.html">-->
			<!--<div id="movie">-->
				<!--<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>-->
			<!--</div>-->
		<!--</a>-->
		<!--<a href="movieScreen.html">-->
			<!--<div id="movie">-->
				<!--<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>-->
			<!--</div>-->
		<!--</a>-->
		<!--<a href="movieScreen.html">-->
			<!--<div id="movie">-->
				<!--<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>-->
			<!--</div>-->
		<!--</a>-->
		<!--<a href="movieScreen.html">-->
			<!--<div id="movie">-->
				<!--<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>-->
			<!--</div>-->
		<!--</a>-->
		<!--<a href="movieScreen.html">-->
			<!--<div id="movie">-->
				<!--<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>-->
			<!--</div>-->
		<!--</a>-->
		<!--<a href="movieScreen.html">-->
			<!--<div id="movie">-->
				<!--<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>-->
			<!--</div>-->
		<!--</a>-->
		<!--<a href="movieScreen.html">-->
			<!--<div id="movie">-->
				<!--<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>-->
			<!--</div>-->
		<!--</a>-->
		<!--<a href="movieScreen.html">-->
			<!--<div id="movie">-->
				<!--<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>-->
			<!--</div>-->
		<!--</a>-->
		<!--<a href="movieScreen.html">-->
			<!--<div id="movie">-->
				<!--<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>-->
			<!--</div>-->
		<!--</a>-->
		<!--<a href="movieScreen.html">-->
			<!--<div id="movie">-->
				<!--<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>-->
			<!--</div>-->
		<!--</a>-->
		<!--<a href="movieScreen.html">-->
			<!--<div id="movie">-->
				<!--<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>-->
			<!--</div>-->
		<!--</a>-->
		<!--<a href="movieScreen.html">-->
			<!--<div id="movie">-->
				<!--<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>-->
			<!--</div>-->
		<!--</a>-->
		<!--<a href="movieScreen.html">-->
			<!--<div id="movie">-->
				<!--<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>-->
			<!--</div>-->
		<!--</a>-->
		<!--<a href="movieScreen.html">-->
			<!--<div id="movie">-->
				<!--<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>-->
			<!--</div>-->
		<!--</a>-->
		<!--<a href="movieScreen.html">-->
			<!--<div id="movie">-->
				<!--<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>-->
			<!--</div>-->
		<!--</a>-->
		<!--<a href="movieScreen.html">-->
			<!--<div id="movie">-->
				<!--<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>-->
			<!--</div>-->
		<!--</a>-->
		<!--<a href="movieScreen.html">-->
			<!--<div id="movie">-->
				<!--<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>-->
			<!--</div>-->
		<!--</a>-->
		<!--<a href="movieScreen.html">-->
			<!--<div id="movie">-->
				<!--<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>-->
			<!--</div>-->
		<!--</a>-->
		<!--<a href="movieScreen.html">-->
			<!--<div id="movie">-->
				<!--<img src="miniaturka filmu" id="movieimg"/><p id="tytul">film</p>-->
			<!--</div>-->
		<!--</a>-->
		<!--<div style="clear: both;"></div>-->
	</div>
</body>
</html>