<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
	<title>Empty bucket</title>
	
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato&display=swap" rel="stylesheet">
	
</head>
<body>
    <div th:text="${emptyBucket}"/>
	<div id="koszykjestpusty">
		<h2>Twój koszyk jest pusty</h2>
	</div>
	<a th:href="@{/index}">
		<div id="ok">ok</div>
	</a>
</body>
</html>