<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
    <title>Kino X</title>
	
</head>
<body>
	<div>
	   <div>
			<a href="index.html">Kino X</a>
		</div>
		<ul>
			<li>
				<a href=#>Aktualności</a>
			</li>
			<li>
				<a href=#>Repertuar</a>
			</li>
			<li>
				<a href=#>Cennik</a>
			</li>
			<li>
				<a href=#>Promocje</a>
			</li>
		</ul>
		<div>
			<a href=#>Koszyk</a>
		</div>
	</div>
	<div>
		<img src="tutaj jakiś adres obrazka"/>
	</div>
	<p>Witajcie, ze względu na panedmię nasze kina są zamknięte do odwołania.</p>
	<p>Zachęcamy jednak do zapoznania się z ofertą</p>
</body>
</html>