<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
    <title>Kino X</title>
	
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato&display=swap" rel="stylesheet">
	
</head>
<body>
<p th:text="${index2}"/>
	<div id="header">
	   <a th:href="@{/index}" class="linkwhite">
			<div id="kinoxtile">
				<h3>Kino X</h3>
			</div>
		</a>
		<ul id="menulist">
			<li>
				<a th:href="@{/index}" class="menulink">Aktualności</a>
			</li>
			<li>
				<a th:href="@{chooseCity}" class="menulink">Repertuar</a>
			</li>
			<li>
				<a th:href="@{/priceList}" class="menulink">Cennik</a>
			</li>
			<li>
				<a th:href="@{/happyHours}" class="menulink">Promocje</a>
			</li>
		</ul>
		<a th:href="@{/bucket}">
			<div id="baskettile">
				<h3>Koszyk</h3>
			</div>
		</a>
		<div style="clear: both;"></div>
	</div>
	<img src="img/interstellar.jpg" id="obrazekmenu"/>
	<div id="footer">
		<p>Witajcie, ze względu na panedmię nasze kina są zamknięte do odwołania.</p>
		<p>Zachęcamy jednak do zapoznania się z ofertą</p>
	</div>
</body>
</html>