<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
	<title>Movie screen</title>
	
</head>
<body>
	<div>
	   <div>
			<a href="index.html">Kino X</a>
		</div>
		<ul>
			<li>
				<a href="index.html">Aktualności</a>
			</li>
			<li>
				<a href="chooseCity.html">Repertuar</a>
			</li>
			<li>
				<a th:href="@{/priceList}">Cennik</a>
			</li>
			<li>
				<a href="sale.html">Promocje</a>
			</li>
		</ul>
		<div>
			<a href="emptyBucket.html">Koszyk</a>
		</div>
	</div>
    <div>
        <!---główny obrazek filmu--->
        <img src="obrazek filmu" />
    </div>
	<div>
		<h2 th:text="${movie.getTitle()}"/>
		<p th:text="${movie.getDescription()}"/>
		<p th:text="${movieGenre}"/>
		<p th:text="'Data premiery: ' + ${movie.getReleaseDate()}"/>
		<p th:text="'Reżyseria: ' + ${movie.getDirection()}"/>
		<p th:text="${movie.getDuration() + 'min'}"/>
        <p th:text="${movie.getStaff()}"/>

		<div>
            <a th:href="@{/buyTicket.html}">Kup bilet</a>
		</div>
	</div>
	<div>
		<!---obsada--->
		<img src="aktor" />
		<img src="aktor" />
		<img src="aktor" />
		<img src="aktor" />
		<img src="aktor" />
	</div>
    <!---zdjęcia z filmu--->
    <div>
        <img src="obrazek filmu" />
    </div>
	<div>
		<img src="obrazek filmu" />
	</div>
</body>
</html>