<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>News</title>
	
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato&display=swap" rel="stylesheet">

</head>
<body>
<p th:text="${index2}"/>
<div id="header">
    <a th:href="@{/index}" class="linkwhite">
        <div id="kinoxtile">
            <h3>Kino X</h3>
        </div>
    </a>
    <ul id="menulist">
        <li>
            <a th:href="@{/news}" class="menulink">Aktualności</a>
        </li>
        <li>
            <a th:href="@{/chooseCity}" class="menulink">Repertuar</a>
        </li>
        <li>
            <a th:href="@{/priceList}" class="menulink">Cennik</a>
        </li>
        <li>
            <a th:href="@{/happyHours}" class="menulink">Promocje</a>
        </li>
    </ul>
    <a th:href="@{/bucket}">
        <div id="baskettile">
            <h3>Koszyk</h3>
        </div>
    </a>
    <div style="clear: both;"></div>
</div>
<div id="newstile">
	<h2>Szanowni Państwo!</h2>
	<div id="opistile">
		<p>Podjęliśmy decyzję otworzyć wszystkie nasze Kina X w Polsce!</p>
		<p>Otrzymaliśmy jasne wytyczne odnośnie obostrzeń w jakich kina mogą być otwarte i cała nasza ekipa pracuje nad tym,
			aby zapewnić naszym klientom bezpieczeństwo oraz komfort podczas korzystania z oferowanych przez nas usług.</p>
		<p>Już niebawem w tej zakładce pojawią się szczegółowe informacje dotyczące tego, jakie procedury obowiązywać będą każdego wchodzącego na sale kinową.</p>
		<p>Zachęcamy do zapoznania się z repertuarem i zaplanowania kolejnego wypadu z rodziną właśnie do nas!</p>
		<h3>~ Kino X</h3>
	</div>
</div>

</body>
</html>