<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
    <title>Price list</title>
	
</head>
<body>
    <div>
	   <div>
			<a href="index.html">Kino X</a>
		</div>
		<ul>
			<li>
				<a href="index.html">Aktualności</a>
			</li>
			<li>
				<a href="chooseCity.html">Repertuar</a>
			</li>
			<li>
				<a href="priceList.html">Cennik</a>
			</li>
			<li>
				<a href="sale.html">Promocje</a>
			</li>
		</ul>
		<div>
			<a href="emptyBucket.html">Koszyk</a>
		</div>
	</div>
	<div>Ceny biletów</div>
	<div>
		<div>Bilety 2D</div>
		<div>Bilety 3D</div>
		<div>15.50 zł</div>
		<div>18.50 zł</div>
		<div>+ okulary w cenie</div>
	</div>
</body>
</html>