<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
	<title>Sale</title>
	
</head>
<body>
<p th:text="'tired' + ${happyHours}"/>
	<div>
	   <div>
			<a th:href="@{/index}">Kino X</a>
		</div>
		<ul>
			<li>
				<a th:href="@{/index}">Aktualności</a>
			</li>
			<li>
				<a th:href="@{/chooseCity}">Repertuar</a>
			</li>
			<li>
				<a th:href="@{/priceList}">Cennik</a>
			</li>
			<li>
				<a th:href="@{/happyHours}">Promocje</a>
			</li>
		</ul>
		<div>
			<a th:href="@{/bucket}">Koszyk</a>
		</div>
	</div>
	<div>-20% na wszystkie bilety</div>
	<div>*przerywana linia*</div>
	<div>happy hours</div>
	<div>*znaczek słońca*</div>
	<div>11:00 - 15:00</div>
	<div>*przerywana linia*</div>
	<div>od wtorku - do piątku</div>
</body>
</html>